
#CanvasSpace{
  
  background-image: url("tablero.jpeg");
  
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center center;
}

#boton{
	border:0.16em solid rgba(255,255,255,0);
	border-radius:2em;
	width: 120px;
	height: 50px; 
	background: #FF5F6D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border:  1px solid white;

}
#boton:hover{
	border:  1px solid black;

}
#tiro{
	width:400px
}

div.dice{
	float:left;
	width:32px;
	background:#dfdcdc;
	border:rgb(68, 67, 67) 1px solid;
	padding:10px;
	font-size:24px;
	text-align:center;
	margin:5px;
	border-radius:10px;
	
}

.ladorojo{
	position:absolute;
	display: flex;
	margin: 10px;
	
	height: 50px;
	width: 60px;
	flex-wrap: wrap;
	margin-top: 100px;
	margin-left: 250px;
}

.ficharoja{
	width: 20px;
	height: 20px;
	background-color: red;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	border: 1px solid white;

	
}

.ladoazul{
	position:absolute;
	display: flex;
	margin: 10px;
	
	height: 50px;
	width: 60px;
	flex-wrap: wrap;
	margin-top: 550px;
	margin-left: 250px;
}

.fichaazul{
	width: 20px;
	height: 20px;
	background-color: rgb(0, 38, 255);
	-webkit-border-radius: 100px;
	border-radius: 100px;
	border: 1px solid white;

	
}

.ladoamarillo{
	position:absolute;
	display: flex;
	margin: 10px;
	
	height: 50px;
	width: 60px;
	flex-wrap: wrap;
	margin-top: 550px;
	margin-left: 700px;
}

.fichaamarillo{
	width: 20px;
	height: 20px;
	background-color: rgb(172, 201, 9);
	-webkit-border-radius: 100px;
	border-radius: 100px;
	border: 1px solid white;

	
}

.ladoverde{
	position:absolute;
	display: flex;
	margin: 10px;
	
	height: 50px;
	width: 60px;
	flex-wrap: wrap;
	margin-top: 100px;
	margin-left: 700px;
}

.fichaverde{
	width: 20px;
	height: 20px;
	background-color: rgb(53, 190, 11);
	-webkit-border-radius: 100px;
	border-radius: 100px;
	border: 1px solid white;

	
}


.ficharoja.prueba{
	opacity:  .5 ;
}

.tablero{
	border: 1px solid black;
	width: 700px;
	height: 700px;
	

	position: absolute;
	margin-left: 150px;
}